---
import MainLayout from '../layouts/MainLayout.astro'
import {Image} from "astro:assets"
import about from "../images/about.jpg"
import team1 from "../images/team1.png"
import team2 from "../images/team2.png"
import team3 from "../images/team3.png"
---

<MainLayout title="Σχετικά">
    <h1 class="text-4xl font-bold mb-5">Σχετικά</h1>
      <div class="flex flex-col md:flex-row items-center justify-between gap-6">
        <div class="w-full md:w-1/2 mb-8 md:mb-0">
            <Image src={about} alt="Tech People Team" class="w-full h-auto rounded-lg shadow-lg"/>
        </div>
        <div class="w-full md:w-1/2">
            <h2 class="text-3xl font-extrabold text-gray-900 mb-4">
                Ποιοί είμαστε
            </h2>
            <p class="text-gray-700 leading-relaxed mb-6">
                Είμαστε το φυτά εντός, μια αφοσιωμένη ομάδα ενθουσιωδών με πάθος για την κηπουρική και τη φροντίδα φυτών εσωτερικού χώρου. Στόχος μας είναι να σας φέρουμε τα τελευταία νέα, άρθρα και οδηγίες για όλα όσα αφορούν τα φυτά εσωτερικού χώρου. Μέσα από τις δημοσιεύσεις μας, θα ανακαλύψετε συμβουλές για την περιποίηση των φυτών σας, ιδέες για διακόσμηση και πολλά άλλα.
            </p>
            <p class="text-gray-700 leading-relaxed mb-6">
                Η αποστολή μας είναι να ενδυναμώσουμε και να εκπαιδεύσουμε τους αναγνώστες μας, βοηθώντας τους να παραμένουν ενημερωμένοι με τον συναρπαστικό κόσμο των φυτών εσωτερικού χώρου. Είτε είστε έμπειρος κηπουρός, λάτρης των φυτών, είτε απλά περίεργοι για τις τελευταίες τάσεις στη φροντίδα και διακόσμηση με φυτά, είστε καλυμμένοι.
            </p>
           
        </div>
    </div>
    
    <!-- Team -->
    <div class="mt-10">
      <h2 class="text-3xl font-extrabold text-gray-900 mb-8">
        Our Team
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
            <Image src={team1} alt="Team Member 1" class="w-full h-auto"/>
            <div class="p-6">
                <h3 class="text-xl font-semibold text-gray-900 mb-2">Γιώργος Παπαδόπουλος </h3>
                <p class="text-gray-70">Founder & Editor-in-Chief</p>
            </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
            <Image src={team2} alt="Team Member 2" class="w-full h-auto"/>    
                    <div class="p-6">
                <h3 class="text-xl font-semibold text-gray-900 mb-2">Νίκος Καραγιάννης</h3>
                <p class="text-gray-70">Lead Writer</p>
            </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
            <Image src={team3} alt="Team Member 3" class="w-full h-auto"/>
            <div class="p-6">
                <h3 class="text-xl font-semibold text-gray-900 mb-2">Ελένη Αντωνίου</h3>
                <p class="text-gray-70">Tech Analyst</p>
            </div>
        </div>
      </div>
    </div>
</MainLayout>
